.container {
  height: 60px;
  width: 100%;
  height: auto;
  position: relative;
}

.ground {
  height: 60px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.bush_1 {
  z-index: 1;
  width: 40px;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 50px;
}

.bush_2 {
  z-index: 1;
  width: 40px;
  height: auto;
  position: absolute;
  right: 30px;
  bottom: 50px;
}

.tree {
  z-index: 1;
  height: 200px;
  width: auto;
  position: absolute;
  left: 40px;
  bottom: 40px;
}
